{% extends 'base.html' %} 

{% block title %}My account{% endblock %} 

{% block breadcrumb %}
<li class="breadcrumb-item active">My account</li>
{% endblock %} 

{% block content %}
<div class="row">
    <div class="col-lg-6 col-md-8 col-sm-10">
        <form method="post" novalidate>
            {% csrf_token %} 
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
</div>
{% endblock %}